<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>832180320682-565mve6f6uebdve1l0moq7o0dc20p16e.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.832180320682-565mve6f6uebdve1l0moq7o0dc20p16e</string>
	<key>API_KEY</key>
	<string>AIzaSyCzIT756-4mtTH6ynkoGXpN9Tdc67mxhB4</string>
	<key>GCM_SENDER_ID</key>
	<string>832180320682</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chat</string>
	<key>PROJECT_ID</key>
	<string>callyoo-2b8ca</string>
	<key>STORAGE_BUCKET</key>
	<string>callyoo-2b8ca.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:832180320682:ios:d03d8fea59443fdf0893d3</string>
</dict>
</plist>